
    @define-color background #0e141c;

    @define-color error #ffb4ab;

    @define-color error_container #93000a;

    @define-color inverse_on_surface #2b313a;

    @define-color inverse_primary #005fb0;

    @define-color inverse_surface #dee2ef;

    @define-color on_background #dee2ef;

    @define-color on_error #690005;

    @define-color on_error_container #ffdad6;

    @define-color on_primary #00315f;

    @define-color on_primary_container #d5e3ff;

    @define-color on_primary_fixed #001c3b;

    @define-color on_primary_fixed_variant #004786;

    @define-color on_secondary #272f4d;

    @define-color on_secondary_container #dce1ff;

    @define-color on_secondary_fixed #121a37;

    @define-color on_secondary_fixed_variant #3d4565;

    @define-color on_surface #dee2ef;

    @define-color on_surface_variant #c2c6d2;

    @define-color on_tertiary #2e2a59;

    @define-color on_tertiary_container #e4dfff;

    @define-color on_tertiary_fixed #191543;

    @define-color on_tertiary_fixed_variant #454171;

    @define-color outline #8c919c;

    @define-color outline_variant #424751;

    @define-color primary #a6c8ff;

    @define-color primary_container #004786;

    @define-color primary_fixed #d5e3ff;

    @define-color primary_fixed_dim #a6c8ff;

    @define-color scrim #000000;

    @define-color secondary #bdc5eb;

    @define-color secondary_container #3d4565;

    @define-color secondary_fixed #dce1ff;

    @define-color secondary_fixed_dim #bdc5eb;

    @define-color shadow #000000;

    @define-color source_color #194a82;

    @define-color surface #0e141c;

    @define-color surface_bright #343943;

    @define-color surface_container #1b2029;

    @define-color surface_container_high #252a33;

    @define-color surface_container_highest #30353e;

    @define-color surface_container_low #171c24;

    @define-color surface_container_lowest #090e17;

    @define-color surface_dim #0e141c;

    @define-color surface_tint #a6c8ff;

    @define-color surface_variant #424751;

    @define-color tertiary #c6c0f9;

    @define-color tertiary_container #454171;

    @define-color tertiary_fixed #e4dfff;

    @define-color tertiary_fixed_dim #c6c0f9;

