
    @define-color background #0f150b;

    @define-color error #ffb4ab;

    @define-color error_container #93000a;

    @define-color inverse_on_surface #2b3227;

    @define-color inverse_primary #206d00;

    @define-color inverse_surface #dee5d4;

    @define-color on_background #dee5d4;

    @define-color on_error #690005;

    @define-color on_error_container #ffdad6;

    @define-color on_primary #0d3900;

    @define-color on_primary_container #7cff4c;

    @define-color on_primary_fixed #052100;

    @define-color on_primary_fixed_variant #165200;

    @define-color on_secondary #173721;

    @define-color on_secondary_container #c7eccb;

    @define-color on_secondary_fixed #01210d;

    @define-color on_secondary_fixed_variant #2e4e36;

    @define-color on_surface #dee5d4;

    @define-color on_surface_variant #c1c9b9;

    @define-color on_tertiary #003828;

    @define-color on_tertiary_container #aff0d3;

    @define-color on_tertiary_fixed #002116;

    @define-color on_tertiary_fixed_variant #09513c;

    @define-color outline #8c9384;

    @define-color outline_variant #42493c;

    @define-color primary #4be300;

    @define-color primary_container #165200;

    @define-color primary_fixed #7cff4c;

    @define-color primary_fixed_dim #4be300;

    @define-color scrim #000000;

    @define-color secondary #abcfb0;

    @define-color secondary_container #2e4e36;

    @define-color secondary_fixed #c7eccb;

    @define-color secondary_fixed_dim #abcfb0;

    @define-color shadow #000000;

    @define-color source_color #113006;

    @define-color surface #0f150b;

    @define-color surface_bright #343b2f;

    @define-color surface_container #1b2217;

    @define-color surface_container_high #252c21;

    @define-color surface_container_highest #30372b;

    @define-color surface_container_low #171d13;

    @define-color surface_container_lowest #091007;

    @define-color surface_dim #0f150b;

    @define-color surface_tint #4be300;

    @define-color surface_variant #42493c;

    @define-color tertiary #94d4b8;

    @define-color tertiary_container #09513c;

    @define-color tertiary_fixed #aff0d3;

    @define-color tertiary_fixed_dim #94d4b8;

